[submodule "scannerConfig"]
	path = scannerConfig
	url = ssh://biobank@kingman.cs.ualberta.ca/compsci/abee13/cshome/biobank/gitrepo/scannerConfig.git
[submodule "bioSampleScan"]
	path = bioSampleScan
	url = ssh://biobank@kingman.cs.ualberta.ca/compsci/abee13/cshome/biobank/gitrepo/BioSampleScan.git
