[submodule "scannerConfig"]
	path = scannerConfig
	url = https://github.com/cbsrbiobank/scannerConfig.git
[submodule "bioSampleScan"]
	path = bioSampleScan
	url = https://github.com/cbsrbiobank/BioSampleScan.git
