[submodule "scannerConfig"]
	path = scannerConfig
	url = ssh://biobank@aicml-med.cs.ualberta.ca/home/biobank/gitrepo/scannerConfig.git
[submodule "bioSampleScan"]
	path = bioSampleScan
	url = ssh://biobank@aicml-med.cs.ualberta.ca/home/biobank/gitrepo/BioSampleScan.git
